doctype html
html
    head
        style
            include style.css
    body
        div
            h1
                | Hello!

        block content

        div.footer
            | (c) IFilm 2022
            br
            a(href=frontendUrl) CLICK HERE